<!DOCTYPE html>
<html>
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>
    <%- body %>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>

    <!-- <script type="text/javascript" id="clustrmaps" 
      src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=iU2ZRBlvF6ofFU7BAfeGH5q-BFfGFFweaKJjADxnsU8&cmn=e70006&cmo=ab4d4f"></script> -->
  </body>
</html>

